@{
    ViewBag.Title = "Home Page";
 }
            <h2>The World</h2>
            <p>This will be an amazing website soon!</p>

            <form>
                <div>
                    <label>Date</label>
                    <input />
                </div>
                <div>
                    <label>Location</label>
                    <input />
                </div>
                <div><input type="submit" value="Add" /></div>
            </form>